.container-fluid img {
    height: 15%;
    width: 15%;
    margin-top: 11%;
    margin-bottom: 1%;
}

.container-fluid,
body,
html {
    background-color: #444;
}

#env {
    background-color: #fbfbfb;
}

form {
    padding-top: 5%;
    padding-bottom: 15%;
}

button.btn {
    background-color: #ff1866;
    color: #fff;
    border-radius: 40px;
}

button.btn:hover {
    background-color: #ff2f75;
    color: #fff;
}

div.container-fluid {
    margin-top: 5%;
}